<!-- Javier Zapatero Santos TFG -->
<!-- Prueba -->
<div class="login_body">

    <div class="container forheight">
      <div class="row d-flex align-items-center h-100">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 px-4 px-sm-0">
          <div class="login_form">
            <h2 class="login_from_heading">Login</h2>
            <form>
              <label>User Name :</label>
              <input type="text" name="" placeholder="">
              <label>Password :</label>
              <input type="text" name="" placeholder="">
              <input type="submit" name="" value="Login">
            </form>
          </div>
          <!-- loign_form end -->
        </div>
        <!-- main_div end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
    
    
    </div>
    