<!-- Javier Zapatero Santos TFG -->
<main class="formain">
  <div class="text-end">
    <button class="add_timer_btn">Add Timer</button>
  </div>
  <!-- for butn  -->

  <div class="row">
    <div class="col-12 show_when_click">
      <div class="card all_timer_card">
        <div class="row forflex">
          <div class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-start">
            <h3 class="all_timer_heading">Timer Name here</h3>
          </div>
          <!-- timer name end -->
          <div class="col-12 col-md-6 mb-3 mb-md-0 timer_middle text-center">
            <div class="days_btns">
              <div class="" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn">Monday</button>
                <button type="button" class="btn">Tuesday</button>
                <button type="button" class="btn">Wednesday</button>
                <button type="button" class="btn">Thursday</button>
                <button type="button" class="btn">Friday</button>
                <button type="button" class="btn">Saturday</button>
                <button type="button" class="btn">Sunday</button>
              </div>
              <div class="row mt-4">
                <div class="col-6 text-start">
                  <span class="start_time">Start Time: <b>10:00 AM</b></span>
                </div>
                <div class="col-6 enttime">
                  <span class="end_time">End Time: <b>12:00 PM</b></span>
                </div>
              </div>
            </div>
            <!-- days button end -->
          </div>
          <!-- timer_middle end -->
          <div
            class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-end actions"
          >
            <button
              class="btn btn-success me-2 edit_button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-pencil"></i>
              Edit
            </button>
            <button class="btn btn-danger">
              <i class="bi bi-trash"></i>
              Delete
            </button>
          </div>
          <!-- timer right end -->
        </div>
        <!-- row end -->
      </div>
      <!-- all_timer_card -->

      <!-- when you click on edit below section will show up  -->

      <!-- edit end -->

      <!-- modal start -->
      <div class="modal" tabindex="-1" id="exampleModal">
        <div class="modal-dialog p-0 modal-dialog-centered modal-xl pt-0">
          <div class="modal-content">
            <!--  <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </button>
                    </div> -->
            <div class="modal-body p-0 pt-0">
              <div class="card all_timer_card">
                <div class="row forflex">
                  <div
                    class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-start"
                  >
                    <h3 class="all_timer_heading">Edit Time Name</h3>
                  </div>
                  <!-- timer name end -->
                  <div
                    class="col-12 col-md-6 mb-3 mb-md-0 timer_middle text-center"
                  >
                    <div class="days_btns">
                      <div
                        class=""
                        role="group"
                        aria-label="Basic outlined example"
                      >
                        <button type="button" class="btn">Monday</button>
                        <button type="button" class="btn">Tuesday</button>
                        <button type="button" class="btn">Wednesday</button>
                        <button type="button" class="btn">Thursday</button>
                        <button type="button" class="btn">Friday</button>
                        <button type="button" class="btn">Saturday</button>
                        <button type="button" class="btn">Sunday</button>
                      </div>
                      <div class="row mt-4">
                        <div class="col-6 text-start noponmobile">
                          <span class="start_time d-inline">Start Time:</span>
                          <input
                            placeholder="Start time"
                            aria-label="24hr format"
                            [ngxTimepicker]="startTime"
                            [format]="24"
                          />
                          <ngx-material-timepicker
                            [timepickerClass]="'custome-class'"
                            [theme]="darkTheme"
                            #startTime
                          ></ngx-material-timepicker>
                        </div>

                        <div class="col-6 enttime noponmobile">
                          <span class="end_time d-inline">End Time:</span>
                          <input
                            placeholder="End time"
                            aria-label="24hr format"
                            [ngxTimepicker]="endTime"
                            [format]="24"
                          />
                          <ngx-material-timepicker
                            [theme]="darkTheme"
                            #endTime
                          ></ngx-material-timepicker>
                        </div>
                      </div>
                    </div>
                    <!-- days button end -->
                  </div>
                  <!-- timer_middle end -->
                  <div
                    class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-end actions"
                  >
                    <button
                      class="btn btn-success me-2 done_button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="bi bi-check2-all"></i>

                      Done
                    </button>
                  </div>
                  <!-- timer right end -->
                </div>
                <!-- row end -->
              </div>
              <!-- all_timer_card -->
            </div>
          </div>
        </div>
      </div>

      <!-- modal end -->
    </div>
    <!-- main div for time en -->
  </div>
  <!-- row end -->
</main>
